/*body{
  background-color: #FF8708;
}*/

#game-list {
  margin-left: auto;
  margin-right: auto;
  display: auto;
  width: 1000px;
  background-color: #0083B3;
  padding: 30px;
}

#logo {
  border-radius: 20px;
  background-color: #FF8708;
  margin: auto;
  display: auto;
  text-align: center;
  color: #0083B3;
  padding: 10px;
  font-weight: bold;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 1em;
  width: 400px;
}

.subtitle {
  text-align: center;
  font-size: 40px;
}

table {
  width: 100%;
}

th, td {
  padding: .2em .7em;
  font-size: 20px;
}


thead, tfoot {font-weight: bold;}

tfoot{margin-top: 3em;}

.T1, .T2, .T3, .T4{
  text-align: justify;
  font-size: 30px;
}


